certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
defusedxml==0.7.1
idna==3.10
joblib==1.5.1
nltk==3.9.1
regex==2024.11.6
requests==2.32.3
tqdm==4.67.1
urllib3==2.4.0
youtube-transcript-api==1.0.3
